@charset "utf-8";

@import url('./reset_antd.less');
@import url('./style.less');
@import url("./fdd.less");
@import url('./detail.less');
@import url('./product_cxfq.less');
@import url('./sh.less');

@side_width:190px;
@nav_height:50px;
@left_padding:22px;

.notFound{
	text-align: center;
	padding-top: 18%;
	width: 100%;
}
.hxyw .login-form {
  max-width: 300px;
}
.hxyw .login-form-forgot {
  float: right;
}
.hxyw .login-form-button {
  width: 100%;
}
.top-nav{
	color: #ffffff;
	text-align: center;
	line-height: @nav_height;
	font-size: 14px;
	.logo{
		float: left;
		height: @nav_height;
		width: @side_width;
		height: @nav_height;
		img{
			max-width: @side_width;
			max-height: @nav_height;
			width: 126px;
			vertical-align: middle;
		}
	}
	.ant-menu{
		height: @nav_height;
		background-color: rgba(0,0,0,0)!important;

		display: flex;
		justify-content: space-between;

		li.ant-menu-item{
			flex-grow:1;
			display: flex;
			padding:0px;
			cursor: pointer;
			opacity: 0.8;
			height: @nav_height;
			line-height: @nav_height;
			justify-content: center;
		}
		li.ant-menu-item > a{
			color:#ffffff;
			font-size: 14px;
		}
		li.ant-menu-item:hover,.ant-menu:not(.ant-menu-horizontal),.ant-menu-item-selected{
			background-color: #1876e6!important;
			opacity: 1!important
		}
	}
}
.sideBottom{
    position: fixed;
    left: 0px;
	bottom: 0px;
    width: @side_width;
    z-index: 100;
	font-size: 13px;
	background: #F4F6F7;
	border-right: 1px solid #e9e9e9;
	padding: 10px 0;
    li{
        padding: 0px 25px;
        color: #444;
		cursor: pointer;
		div{
			border: 1px solid #e9e9e9;
			padding: 5px 10px;
			text-align: center;
			margin-bottom: 10px;
			border-radius: 5px;
		}
		
    }
}
.ant-table-body td.corner{
	cursor: pointer;
	background-image: url("imgs/corner.png")!important;
	background-size: 20px 20px!important;
	background-position: 100% 0!important;
	background-repeat: no-repeat!important;
}
.postil{
	position: absolute;
	background-color: #4ab6e6;
	border-radius: 2px;
	width: 150px;
	min-height: 70px;
	color: #fff;
	padding: 10px;
	line-height: 25px;
	display: none;
	z-index: 10;
}
.path{
	line-height: 40px;
	padding-left: @left_padding;
    // border-bottom: 1px solid #EFF3F6;
    // background-color: #FFFFFF;
}

.filter{
	// padding-left: @left_padding;
	// line-height: 64px;
	// background-color: #E7EFF8;
	// border: 1px solid #DADEE4;
	padding:  10px 20px 0 20px
}
.filter .ant-col-3 label{
    margin: 0px 10px;
    display: block;
    text-align: justify;
    text-align-last: justify;
}
.filter .btns{
	padding-left: 19px;
}
.filter .line{
	width: 1px;
	height: 81px;
	margin-top: 23.5px;
	background-color: #D8D8D8;
}
.filter-bar{
	padding: 5px @left_padding 15px @left_padding;
	// min-height: 120px;
	// display: flex;
	// justify-content: space-between;
	// border-bottom: 1px solid #D8D8D8;
	font-size: 12px;
	// background: #FBFBFB;
	overflow: hidden;
	.items{
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		.item{
			justify-content: center;
			display: flex;
			align-items: center;
			padding-right: 20px;
			margin-top:10px;
			.element-name{
				text-align: justify;
				padding-right: 10px;
				
			}
			.element{
				width: 180px;
				input,.ant-calendar-picker,.ant-select,.ant-calendar-picker-input{
					height: 30px;
					font-size: 12px;
					outline: none;
				}
				.ant-input:focus,.ant-input:hover{
					border:1px solid #d9d9d9;
					box-shadow: none;
				}
				.ant-select-focused{
					border:none;
				}
				.ant-calendar-picker-input{
					display: flex;
					align-items: center;
					// width:200px;
				}
				.ant-form-item{
					margin-bottom: 0px;
				}
				.ant-select-focused .ant-select-selection{
					box-shadow: none;
				}
				.ant-select-lg .ant-select-selection--single{
					padding: 0px;
					height: 100%;
				}
				.ant-select-lg .ant-select-selection__rendered{
					height: 100%;
					display: flex;
					align-items: center;
				}
			}
		}
	}
	.btns{
		// display: flex;
		flex-direction: column;
		align-items: flex-end;
		justify-content: space-around;
		float: right;
		margin-top:20px
	}
}


.content{
	padding: 15px @left_padding;
	overflow-x: auto;
}
div.bmd-content,div.table-content{
	padding:15px @left_padding;
	margin:15px @left_padding;
	background-color: #FFFFFF;
	.table-btns{
		margin-bottom: 15px;
		display: flex;
		justify-content: space-between;
	}
}
div.detail-content{
    background-color: #FFFFFF;
    margin-bottom: 22px;
	.detail-title{
        padding:0px @left_padding;
        height: 50px;
        color: #000000;
        font-weight: 500;
        align-items: center;
        border-bottom: 1px solid rgba(233,233,233,1);
        font-size: 16px;
        display: flex;
        justify-content: space-between;
    }
    .detail-body{
        padding:15px @left_padding;
    }
}
div.detail-contain{
    margin:@left_padding @left_padding 0 @left_padding;
}
.contain{
	padding: 15px @left_padding;
	background-color: #FFFFFF;
}
.contain .sub-title{
	font-size: 14px;
	font-weight: bold!important;
	margin-bottom: 10px;
}
a.noPermissinons,.noPermissinons{
    color: #a9a9a9!important;
}
.card{
	background-color: #FFFFFF;
	padding: 20px 20px;
	border: 1px solid #DADEE4;
	border-radius: 4px;
	margin-bottom: 15px;
}
.card:last-child{
	margin-bottom: 0px;
}
.card .card-title{
	font-size: 20px;
	color: #444444;
	font-family: PingFangHK-Semibold;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.content .btns{
	line-height: 70px;
}


.uploadButton{
	width: 168px;
	cursor: pointer;
	border-bottom: 1px solid #d0d0d0;
	line-height: 30px;
	font-size: 14px;
}
.title{
    width:100%;padding:13px 22px;border-bottom: 1px solid #E9E9E9;
}
.icon{
    width:9px;height:100%;background: #1a84ff;margin-right: 12px;float: left;display: none;
}
.titleWord{
    font-size: 16px;line-height: 28px;color: #393A3E;font-weight: 800!important;
}
.view{
    margin:25px 0 18px 0;
}
table.mytable {
    width: 100%;
    border: 1px solid #DADEE4;
    border-spacing: 0;
    border-radius: 4px;
    margin-top:20px;
}

table.mytable>tbody>tr {border-bottom: 1px solid #DADEE4}

table.mytable>tbody>tr>td{
    border-right: 1px solid #DADEE4;
    border-bottom: 1px solid #DADEE4;
    padding: 5px;
    text-align: left;
    width:130px;
    word-break:break-all;
	word-wrap: break-word;
	font-size: 14px;
	color:#393A3E
}
table.mytable>tbody>tr>th{
    border-right: 1px solid #DADEE4;
    border-bottom: 1px solid #DADEE4;
    padding: 5px;
    text-align: left;
    width:121px;
	background: #F4F4F4;
	font-size: 14px;
	color:#393A3E;
	font-weight: bold!important
}
.accountTitle{
    font-size: 16px;color:#393a3e;
}
.marginBottom{
    margin-bottom: 20px;
}
table.mytable>tbody>tr>td:last-child{ border-right: 0 }
table.mytable>tbody>tr:last-child td{ border-bottom: 0 }
table.mytable>tbody>tr:last-child th{ border-bottom: 0 }
.error{
    background: url('imgs/corner.png');
    background-position: top right;
    background-repeat: no-repeat;
    background-size: 20px;
    position: relative;
}
.img-container{
	padding: 10px 0px;
	display: flex;
	text-align: center;
	flex-wrap: wrap;
}
.img-container .img-item{
	display: flex;
	flex-direction: column;
	min-height: 25px;
	line-height: 25px;
}
.img-container img{
	// width: 240px;
	height: 150px;
	max-width: 240px;
	margin-right: 10px;
}
//退保
.line-table input{width:auto!important;}
.operate .line-table td{line-height: 50px!important;}
.tishi{text-align: right;color:#DD5F52;width:90%;position: absolute;top: 175px;font-size: 12px}

// 客户管理
.form-nomal{
	padding-top: 30px;
}
.form-nomal{
	@form_height:36px;
	.ant-input,.ant-select{
		font-size: 14px;
	}
	.ant-input-lg{
		height: @form_height;
	}
	.ant-calendar-picker{
		width: 100%;
	}
	.ant-form-item.des{
		margin-bottom: 12px;
	}
	.ant-form-item-label{
		line-height:@form_height;
		color: #7F8FA4;
		text-align: right;
		padding-right: 30px;
	}
	.ant-form-item-label label{
		color:inherit;
		font-size: 14px;
	}
	.ant-form-item-control {
		font-size: 14px;
		line-height: @form_height
	}
	.ant-select-lg .ant-select-selection--single{
		height: @form_height
	}
	.ant-select-lg .ant-select-selection__rendered{
		line-height: @form_height
	}
	.ant-form-item-required:before,.ant-form-item-label label:after {
		content:"";
	    margin: 0px;
	}
	.ant-form-item-label label.ant-form-item-required:after {
	    display: inline-block;
	    margin-left: 4px;
	    content: " *";
	    font-family: SimSun;
	    line-height: 1;
	    font-size: 12px;
	    color: #f04134;
	}
	.ant-upload.ant-upload-select-picture-card > .ant-upload{
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.ant-upload.ant-upload-select-picture-card > .ant-upload .anticon{
		font-size: 20px;
		font-weight: bold;
	}
	.ant-form-extra{
		white-space: nowrap;
		clear: both;
	}
}
.ant-row.submit-btns{
	height: 80px;
	display: flex;
	align-items: center;
	background-color: #FFFFFF;
	justify-content: center;
}

.total-cards .total-card{
    height: 140px;
}
.ant-timeline-item-last .ant-timeline-item-content{
	min-height: auto!important;
}

// 滚动条
// div::-webkit-scrollbar{
//     width:3px;
//     height:3px;
// }
// div::-webkit-scrollbar-track{
//     background: rgb(239, 239, 239);
//     border-radius:2px;
// }
// div::-webkit-scrollbar-thumb{
//     background: #bfbfbf;
//     border-radius:10px;
// }
// div::-webkit-scrollbar-thumb:hover{
//     background: #333;
// }
// div::-webkit-scrollbar-corner{
//     background: #179a16;
// }